 body{
  font-family: arial, san-serif;
  margin: 30px 50px;
  
  padding: 0%;
  background-color: lightgreen;
 }
 header{
  color: black;
   
  text-align: center;
 }

 main{
  padding: 20px;
 }
 form{
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  flex-direction: column;
 }
 label{
  margin-bottom: 5px;

 }
 select, input{
  margin-bottom: 10px;
  padding: 8px;
 }
 button{
  padding: 10px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  cursor: pointer;
 }
